@charset "UTF-8";
/*  Author:    Pit Orel Portfolio: https://www.behance.net/orel-1993412d Github:    https://github.com/pit6262 Skype:     hostings1  */
/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { margin: 0px; padding: 0px; position: relative; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ""; content: none; }

q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { color: #333; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"] { cursor: pointer; -webkit-appearance: none; outline: none; }

button { cursor: pointer; -webkit-appearance: none; outline: none; }

td, form { margin: 0px; padding: 0px; }

a { color: inherit; font-family: inherit; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; text-decoration: none; outline: none; -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ========================== FORM STYLER ======================== */
.jq-checkbox { top: -2px; vertical-align: middle; width: 11px; height: 11px; border-radius: 2px; border: 1px solid #cacfd5; margin: 0 6px 0 0; background: #fff; cursor: pointer; }
.jq-checkbox.checked { border-color: #262c32; }
.jq-checkbox.checked .jq-checkbox__div { width: 5px; height: 5px; border-radius: 1px; background-color: #ff5c68; margin: 2px 0 0 2px; }
.jq-checkbox.checked + .label-text { font-weight: 600; }
.jq-checkbox.disabled { opacity: 0.55; }

.jq-radio { top: -1px; vertical-align: middle; width: 16px; height: 16px; margin: 0 4px 0 0; border: 1px solid #aaa; border-radius: 50%; background: #fff; cursor: pointer; }
.jq-radio.checked .jq-radio__div { width: 8px; height: 8px; margin: 3px 0 0 3px; border-radius: 50%; background: #08C; }
.jq-radio.disabled { opacity: 0.55; }

.jq-file { border-radius: 5px; cursor: pointer; }
.jq-file input { height: 100%; line-height: 1em; cursor: pointer; }
.jq-file.form-control { border: none !important; padding: 0 !important; }
.jq-file__name { overflow: hidden; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 40px; padding: 0 80px 0 20px; border: 1px solid #aaa; border-radius: 5px; background: #FFF; font: 14px/40px Arial, sans-serif; color: #444; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; cursor: pointer; }
.jq-file__browse { position: absolute; top: 1px; right: 1px; padding: 0 18px; border-left: 1px solid #aaa; border-radius: 0 5px 5px 0; background: #F5F5F5; font: 14px/38px Arial, sans-serif; color: #333; }
.jq-file.disabled { border-color: #CCC; color: #888; }
.jq-file.disabled .jq-file__name, .jq-file.disabled .jq-file__browse { border-color: #CCC; -webkit-box-shadow: none; box-shadow: none; color: #888; }

.jq-number { position: relative; display: inline-block; vertical-align: middle; padding: 0 36px 0 0; }
.jq-number__field { width: 100px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; }
.jq-number__field:hover { border-color: #B3B3B3; }
.jq-number__field input { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 8px 9px; border: none; outline: none; background: none; font: 14px Arial, sans-serif; color: #333; text-align: left; -moz-appearance: textfield; }
.jq-number__field input::-webkit-inner-spin-button, .jq-number__field input::-webkit-outer-spin-button { margin: 0; -webkit-appearance: none; }
.jq-number__spin { position: absolute; top: 0; right: 0; width: 32px; height: 14px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; background: #F5F5F5; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; text-shadow: 1px 1px #FFF; cursor: pointer; }
.jq-number__spin.minus { top: auto; bottom: 0; }
.jq-number__spin:hover { background: #E6E6E6; }
.jq-number__spin:active { background: #F5F5F5; -webkit-box-shadow: inset 1px 1px 3px #DDD; box-shadow: inset 1px 1px 3px #DDD; }
.jq-number__spin:after { content: ""; position: absolute; top: 4px; left: 11px; width: 0; height: 0; border-right: 5px solid transparent; border-bottom: 5px solid #999; border-left: 5px solid transparent; }
.jq-number__spin.minus:after { top: 5px; border-top: 5px solid #999; border-right: 5px solid transparent; border-bottom: none; border-left: 5px solid transparent; }
.jq-number__spin.minus:hover:after { border-top-color: #000; }
.jq-number__spin.plus:hover:after { border-bottom-color: #000; }
.jq-number__spin.focused .jq-number__field { border: 1px solid #5794BF; }
.jq-number__spin.disabled .jq-number__field { border-color: #CCC; background: #F5F5F5; -webkit-box-shadow: none; box-shadow: none; color: #888; }
.jq-number__spin.disabled .jq-number__spin { border-color: #CCC; background: #F5F5F5; -webkit-box-shadow: none; box-shadow: none; color: #888; }
.jq-number__spin.disabled .jq-number__spin:after { border-bottom-color: #AAA; }
.jq-number__spin.disabled .jq-number__spin.minus:after { border-top-color: #AAA; }

.jq-selectbox { vertical-align: middle; cursor: pointer; width: 100%; }
.jq-selectbox__select { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; min-height: 50px; padding: 0 30px 0 0; border-bottom: 1px solid #d8dde4; text-align: left; padding-bottom: 12px; padding-top: 12px; background: transparent; font: 600 15px/20px "Raleway", Arial, sans-serif; color: #333; }
.jq-selectbox.disabled .jq-selectbox__select { border-color: #CCC; background: #F5F5F5; -webkit-box-shadow: none; box-shadow: none; color: #888; }
.jq-selectbox__select-text { display: block; vertical-align: middle; line-height: 20px; }
.jq-selectbox .placeholder { color: #333; }
.jq-selectbox__trigger { position: absolute; top: 0; right: 0; width: 40px; height: 100%; }
.jq-selectbox__trigger-arrow { position: absolute; top: 50%; right: 0; margin: -3px 0 0 0; width: 0; height: 0; border-top: 6px solid #cacfd5; border-right: 6px solid transparent; border-left: 6px solid transparent; }
.jq-selectbox.disabled .jq-selectbox__trigger-arrow { border-top-color: #AAA; }
.jq-selectbox__dropdown { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 0; margin-top: 2px; border: 1px solid #c9cad5; border-radius: 3px; background: #FFF; font: 14px/18px Arial, sans-serif; }
.jq-selectbox__search { margin: 5px; }
.jq-selectbox__search input { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 5px 27px 6px 8px; border: 1px solid #CCC; border-radius: 3px; outline: none; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%; -webkit-box-shadow: inset 1px 1px #F1F1F1; box-shadow: inset 1px 1px #F1F1F1; color: #333; -webkit-appearance: textfield; }
.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration { -webkit-appearance: none; }
.jq-selectbox__not-found { margin: 5px; padding: 5px 8px 6px; background: #F0F0F0; font-size: 13px; }
.jq-selectbox ul { margin: 0; padding: 0; }
.jq-selectbox li { min-height: 18px; padding: 5px 10px 6px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; color: #231F20; }
.jq-selectbox li.selected { background-color: #08C; color: #FFF; }
.jq-selectbox li:hover { background-color: #A3ABB1; color: #FFF; }
.jq-selectbox li.disabled { color: #AAA; }
.jq-selectbox li.optgroup { font-weight: bold; }
.jq-selectbox li.optgroup:hover { background: none; color: #231F20; cursor: default; }
.jq-selectbox li.option { padding-left: 25px; }

.jq-select-multiple { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1px; border: 1px solid #aaa; border-radius: 5px; background: #FFF; font: 14px/18px Arial, sans-serif; color: #444; cursor: default; }
.jq-select-multiple.form-control { padding: 0 !important; height: auto !important; }
.jq-select-multiple.disabled { border-color: #CCC; -webkit-box-shadow: none; box-shadow: none; color: #888; }
.jq-select-multiple ul { margin: 0; padding: 0; }
.jq-select-multiple li { padding: 6px 20px; list-style: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; }
.jq-select-multiple li:first-child { border-radius: 5px 5px 0 0; }
.jq-select-multiple li:last-child { border-radius: 0 0 5px 5px; }
.jq-select-multiple li.selected { background: #08C; color: #FFF; }
.jq-select-multiple li.disabled { color: #AAA; }
.jq-select-multiple li.selected.disabled { background: #CCC; color: #FFF; }
.jq-select-multiple li.optgroup { font-weight: bold; }
.jq-select-multiple li.option { padding-left: 25px; }
.jq-select-multiple.disabled li.selected { background: #CCC; color: #FFF; }

/* ========================== SLICK SLIDER ======================== */
.slick-slider { position: relative; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; top: 0; left: 0; display: block; }
.slick-track:before { display: table; content: ""; }
.slick-track:after { display: table; content: ""; clear: both; }

.slick-loading .slick-track { visibility: hidden; }

[dir='rtl'] .slick-slide { float: right; }

.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-slide:focus { outline: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

.slick-arrow { position: absolute; top: 50%; z-index: 1; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); text-indent: -999px; overflow: hidden; background-color: transparent; border: none; }

.slick-prev { left: 0; background: url("../img/arrow-left.png?ver1.0") no-repeat 0 0; width: 18px; height: 43px; }

.slick-next { right: 0; background: url("../img/arrow-right.png?ver1.0") no-repeat 0 0; width: 19px; height: 43px; }

.slick-disabled { opacity: 0.6; }

.slick-dots { list-style: none; text-align: center; }
.slick-dots li { display: inline-block; vertical-align: middle; margin: 0 8px; }
.slick-dots li.slick-active button { background-color: #2d88cc; background-image: -webkit-gradient(linear, left top, right top, from(#296aba), to(#33b0e4)); background-image: -webkit-linear-gradient(left, #296aba 0%, #33b0e4 100%); background-image: -o-linear-gradient(left, #296aba 0%, #33b0e4 100%); background-image: linear-gradient(to right, #296aba 0%, #33b0e4 100%); }
.slick-dots li button { border: none; background-color: #ebebeb; padding: 0; height: 16px; width: 16px; border-radius: 50%; text-indent: -999px; overflow: hidden; }

body { color: #262c32; font: 400 16px/1.4 "Raleway", Arial, sans-serif; background: #FFF; height: 100%; }

/* 3. MAIN STYLES */
/* ================================================ */
.main-wrapper { padding: 0; min-width: 320px; position: relative; overflow: hidden; opacity: 1; min-height: 100%; }

.wrapper { width: 100%; min-width: 320px; max-width: 1074px; padding: 0 40px 0 40px; margin: 0 auto; position: relative; }

h1 { margin: 0 0 15px 0; padding: 0; font-size: 42px; font-weight: 900; line-height: 55px; }

h2 { margin: 0 0 35px 0; pading: 0; font-size: 30px; font-weight: 900; line-height: 38px; }

p { margin: 0 0 15px; font-size: 16px; line-height: 1.4; }

img { display: block; max-width: 100%; }

span, a { display: inline-block; }

/* text position */
.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.html-margin { margin-right: 17px; }

.html-lock { overflow: hidden !important; width: auto; }
.html-lock body { overflow: hidden !important; }

/* loader */
.loaded .main-wrapper { visibility: hidden; opacity: 0; -webkit-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; }

.icon-load { background: #fff; position: fixed; z-index: 99999; left: 0; top: 0; right: 0; bottom: 0; display: none; }

.loaded .icon-load { display: block; }

.loaded .icon-load:before { display: block; position: absolute; content: ""; left: -25%; width: 25%; height: 3px; top: 0; background-color: #425cbb; -webkit-animation: loading 5s linear infinite; animation: loading 5s linear infinite; }

@-webkit-keyframes loading { from { left: -25%; }
  to { left: 125%; } }

@keyframes loading { from { left: -25%; }
  to { left: 125%; } }
/* 3.1. Icons ====================== */
.ic { position: relative; display: inline-block; vertical-align: middle; background: url('../img/icons-sb432bd7cd1.png') no-repeat; }

.ic--facebook { background-position: 0 0; width: 9px; height: 17px; }

.ic--instagram { background-position: 0 -27px; width: 17px; height: 17px; }

/* 3.2. Buttons ====================== */
.btn, a.btn { position: relative; display: -webkit-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; vertical-align: middle; height: 45px; padding: 0 40px; color: #fff; font: 900 12px/12px "Raleway", Arial, sans-serif; text-align: center; text-decoration: none; text-transform: uppercase; letter-spacing: 1.2px; border: none; -webkit-box-shadow: 0 6px 16px rgba(59, 65, 76, 0.32); box-shadow: 0 6px 16px rgba(59, 65, 76, 0.32); border-radius: 23px; background-color: #ff5c68; cursor: pointer; -webkit-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn:hover, a.btn:hover { background-color: #d7424d; text-decoration: none; color: #fff; }
.btn--block, a.btn--block { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; }

input.btn, button.btn { display: inline-block; }
input.btn--block, button.btn--block { display: block; width: 100%; }

/* 3.3. forms ====================== */
.box-form--horizontal { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -18px; }
.box-form--horizontal .form-field { width: 100%; padding: 0 18px; }
.box-form--horizontal .form-field--column { width: 50%; }

.form-field__input { position: relative; margin-bottom: 30px; }
.form-field__input.focus .form-input { border-bottom-color: #262c32; }
.form-field__input.focus .form-field__label { font-size: 11px; top: 18px; }
.form-field__label { position: absolute; left: 0; top: 15px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; margin-bottom: 0; pointer-events: none; }
.form-input { display: block; width: 100%; height: 50px; padding: 0; color: #333; font: 600 15px/15px "Raleway", Arial, sans-serif; border: none; border-bottom: 1px solid #d8dde4; background: transparent; border-radius: 0; -webkit-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; }

input[type="search"] { -webkit-appearance: none; }

::-ms-clear { width: 0; height: 0; }

textarea.form-input { height: auto; min-height: 100px; padding-top: 10px; resize: none; }

label { display: block; font-weight: 600; font-size: 15px; margin-bottom: 25px; text-align: left; }

.list-check { list-style: none; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-bottom: -10px; text-align: left; }
.list-check__item { margin-bottom: 6px; margin-top: 6px; }
.list-check__item label { margin-bottom: 0; }
.list-check--horizontal { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.list-check--horizontal .list-check__item { max-width: 230px; width: 50%; }

.label-text { font-weight: 400; font-size: 14px; }

.mutli-select { border-bottom: 1px solid #d8dde4; }
.mutli-select-head { position: relative; min-height: 50px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 12px 25px 12px 0; background: transparent; border-radius: 0; -webkit-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; text-align: left; cursor: pointer; }
.mutli-select-head:after { content: ""; display: block; position: absolute; top: 50%; right: 0; margin: -3px 0 0 0; width: 0; height: 0; border-top: 6px solid #cacfd5; border-right: 6px solid transparent; border-left: 6px solid transparent; }
.mutli-select__placeholder { font: 600 15px/22px "Raleway", Arial, sans-serif; }
.mutli-select__placeholder span { margin-right: 10px; }
.mutli-select-list { display: none; padding: 20px; list-style: none; background-color: #fafafa; }
.mutli-select-list label { margin-bottom: 0; }
.mutli-select-list li { margin-bottom: 18px; }
.mutli-select-list li:last-child { margin-bottom: 0; }
.mutli-select.open .hida { display: none; }

/* 4. HEADER */
/* ================================================ */
.header { width: 100%; min-width: 320px; text-align: left; position: absolute; left: 0px; top: 0px; z-index: 999; padding-top: 45px; }
.header-wrap { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.header .wrapper { position: static; }
.header--dark .navbar-toggle span { background: #262c32; }

.logo a { display: block; }

.navbar-wrap { display: none; z-index: 10; background-color: #2e3d50; height: 100%; height: 100vh; position: absolute; color: #fff; left: 0; top: 0; right: 0; }
.navbar-wrap .wrapper { padding-top: 100px; padding-bottom: 100px; }
.navbar-wrap img { margin-bottom: 72px; }
.navbar-menu { list-style: none; position: relative; }
.navbar-menu__item { margin-bottom: 20px; }
.navbar-menu__link { color: #fff; font-size: 42px; font-weight: 900; }
.navbar-menu:after { content: ""; display: block; width: 188px; height: 1px; background-color: #ffffff; opacity: 0.15; margin-top: 50px; }
.navbar-toggle { position: relative; z-index: 11; height: 35px; border: none; background-color: transparent; padding: 0; -webkit-transform: rotate(-35deg); -ms-transform: rotate(-35deg); transform: rotate(-35deg); -webkit-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; }
.navbar-toggle span { position: relative; top: 0; left: 0; display: block; width: 27px; margin-left: auto; margin-right: auto; -webkit-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; -webkit-transition-delay: 0.2s; -o-transition-delay: 0.2s; transition-delay: 0.2s; border-radius: 3px; background: #fff; height: 4px; }
.navbar-toggle span + span { margin-top: 5px; }
.navbar-toggle span:nth-child(2) { width: 37px; }
.navbar-toggle.active { -webkit-transform: rotate(-360deg); -ms-transform: rotate(-360deg); transform: rotate(-360deg); }
.navbar-toggle.active span { background: #fff; }
.navbar-toggle.active span:nth-child(2) { opacity: 0; height: 0; margin-top: 0; }
.navbar-toggle.active span:first-child { position: relative; top: 4px; width: 40px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.navbar-toggle.active span:last-child { position: relative; left: 1px; top: -4px; width: 40px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

/* 5. CONTENT */
/* ================================================ */
.section { padding: 75px 0; }
.section-name { position: relative; color: #2c84c9; text-align: center; font-size: 15px; font-weight: 700; text-transform: uppercase; letter-spacing: 3.55px; margin-bottom: 30px; z-index: 1; }
.section-name:before { content: ""; display: block; background: url("../img/unckick-icon-title.png?ver1.0") no-repeat 0 0; width: 53px; height: 49px; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: -1; }
.section--gray { background-color: #f9f9f9; }

.home { padding-top: 95px; padding-bottom: 95px; text-align: center; color: #fff; height: 715px; background: url("../img/home-bg.png") no-repeat center; background-size: cover; }
.home img { margin: 0 auto 10px; }
.home p { font-weight: 500; font-size: 18px; line-height: 28px; }

.faisons { text-align: center; }
.faisons-wrap { position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.faisons-wrap:after { content: ""; display: block; position: absolute; left: 50%; top: 0; width: 2px; height: 100%; background-color: #00d8ff; background-image: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), color-stop(23%, #f3f3f3), color-stop(50%, #f3f3f3), color-stop(77%, #f3f3f3), to(#ffffff)); background-image: -webkit-linear-gradient(bottom, #f3f3f3 0%, #f3f3f3 23%, #f3f3f3 50%, #f3f3f3 77%, #ffffff 100%); background-image: -o-linear-gradient(bottom, #f3f3f3 0%, #f3f3f3 23%, #f3f3f3 50%, #f3f3f3 77%, #ffffff 100%); background-image: linear-gradient(to top, #f3f3f3 0%, #f3f3f3 23%, #f3f3f3 50%, #f3f3f3 77%, #ffffff 100%); }
.faisons-wrap__item { width: calc(50% - 4px); padding: 40px 80px; background: #fff; margin: 0 2px; margin-bottom: 2px; }
.faisons-wrap__item:last-child { z-index: 2; }
.faisons-wrap__item img { margin: 0 auto; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }
.faisons-wrap__item h6 { font-size: 14px; font-weight: 700; margin-bottom: 30px; }
.faisons-wrap__item p { font-size: 14px; margin-bottom: 0; }
.faisons-wrap__item:nth-child(2n):after { content: ""; display: block; position: absolute; left: 0; width: 100%; margin-top: 40px; height: 2px; background-color: #00d8ff; background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #f3f3f3), to(#ffffff)); background-image: -webkit-linear-gradient(left, #ffffff 0%, #f3f3f3 50%, #ffffff 100%); background-image: -o-linear-gradient(left, #ffffff 0%, #f3f3f3 50%, #ffffff 100%); background-image: linear-gradient(to right, #ffffff 0%, #f3f3f3 50%, #ffffff 100%); }
.faisons-wrap__icon { margin-bottom: 7px; min-height: 60px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.approche { text-align: center; }
.approche-wrap { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 30px -9px 0; }
.approche-wrap__item { width: 50%; padding: 0 9px; }
.approche-wrap__item:first-child .approche-wrap__head:after { content: "+"; position: absolute; top: 50%; left: 100%; margin-top: -29px; margin-left: -21px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; color: #fff; width: 58px; height: 58px; z-index: 2; -webkit-box-shadow: -1px 6px 9px 1px rgba(0, 0, 0, 0.13); box-shadow: -1px 6px 9px 1px rgba(0, 0, 0, 0.13); background-color: #ff5c68; text-align: center; font-family: "Montserrat", sans-serif; font-size: 43px; font-weight: 500; border-radius: 50%; }
.approche-wrap__head { position: relative; height: 123px; padding: 20px; margin-bottom: 40px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; color: #fff; border-radius: 10px; background-color: #ffffff; background-image: -webkit-gradient(linear, left top, right top, from(#1c78b4), to(#428fc6)); background-image: -webkit-linear-gradient(left, #1c78b4 0%, #428fc6 100%); background-image: -o-linear-gradient(left, #1c78b4 0%, #428fc6 100%); background-image: linear-gradient(to right, #1c78b4 0%, #428fc6 100%); }
.approche-wrap__head-title { font-size: 26px; font-weight: 700; margin-bottom: 0; }
.approche-wrap__head-title img { display: inline-block; position: relative; top: 3px; margin-right: 12px; }
.approche-wrap__box { padding: 40px; margin-bottom: 17px; border-radius: 10px; border: 1px solid #e0e4e9; background-color: #ffffff; }
.approche-wrap__box:last-child { margin-bottom: 0; }
.approche-wrap__box > *:last-child { margin-bottom: 0; }
.approche-wrap__box-title { margin-bottom: 20px; }
.approche-wrap__box-title a { color: #2c84c9; font-family: "Open Sans", sans-serif; font-size: 17px; text-decoration: underline; }
.approche-wrap__box-title a:hover { text-decoration: none; }
.approche-wrap__box p { font-size: 14px; line-height: 20px; }
.approche-wrap__box .services-info { color: #8e9296; font-family: "Open Sans", sans-serif; font-size: 13px; font-weight: 400; line-height: 17px; }

.arrow-down, .arrow-down-sm { position: relative; }
.arrow-down:before, .arrow-down-sm:before { content: ""; display: block; background: url("../img/arrow-down.png?ver1.0") no-repeat 0 0; width: 57px; height: 63px; position: absolute; left: 50%; top: 100%; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); z-index: 1; }

.arrow-down-sm:before { background: url("../img/arrow-down-sm.png?ver1.0") no-repeat 0 0; width: 37px; height: 42px; }

.carousel { text-align: center; }
.carousel-wrap { margin-top: 40px; padding: 0 30px; }
.carousel-wrap img { margin: 0 auto 47px; }
.carousel-wrap .slick-dots { margin-top: 35px; }
.carousel-item { padding: 45px 30px; margin: 5px; border-radius: 10px; background-color: #ffffff; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.carousel-item:hover { -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.06); box-shadow: 0 4px 9px rgba(0, 0, 0, 0.06); }
.carousel-item h4 { font-size: 26px; font-weight: 600; margin-bottom: 30px; }
.carousel-item p { font-size: 14px; line-height: 20px; margin-bottom: 27px; }

.social__link { margin: 0 10px; display: inline-block; vertical-align: middle; }

.perfomance { background: url("../img/perfomance-bg.png") no-repeat center top; background-size: cover; text-align: center; }
.perfomance h2, .perfomance .section-name { color: #fff; }
.perfomance h2 { text-shadow: 1px 1px #04507f; }
.perfomance-wrap { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 30px -9px 0; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.perfomance-wrap__item { max-width: 25%; margin-top: 18px; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; padding: 0 9px; }
.perfomance-box { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; padding: 35px 30px; -webkit-box-shadow: 0 0 30px 1px rgba(1, 55, 88, 0.19); box-shadow: 0 0 30px 1px rgba(1, 55, 88, 0.19); border-radius: 8px; background-color: #ffffff; }
.perfomance-box__procent { font-family: "Open Sans", sans-serif; font-size: 45px; font-weight: 900; margin-bottom: 5px; }
.perfomance-box__procent sup { font-family: "Quicksand", sans-serif; font-size: 25px; font-weight: 400; }
.perfomance-box p { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; font-size: 14px; line-height: 21px; margin-bottom: 40px; }
.perfomance-box img { margin: 0 auto; }

.recommandent { text-align: center; }
.recommandent-wrap { padding: 0 33px; margin-top: 53px; }
.recommandent-wrap .slick-arrow { -webkit-transform: none; -ms-transform: none; transform: none; top: 62px; }
.recommandent-item { padding: 0 17px; }
.recommandent-text { position: relative; border: 2px solid #e0e4e9; padding: 47px 50px; margin-bottom: 45px; border-radius: 3px; }
.recommandent-text:after { content: ""; display: block; position: absolute; top: 100%; margin-top: 0px; left: 58px; background: url("../img/com-arrow.png") no-repeat center; width: 30px; height: 15px; z-index: 1; }
.recommandent-text:before { content: "“"; display: block; position: absolute; font-family: "Raleway", sans-serif; left: 23px; top: 56px; z-index: -1; opacity: 0.07; color: #203260; font-size: 237px; line-height: 116px; font-weight: 700; }
.recommandent-text p { margin-bottom: 0; text-align: left; font-size: 14px; line-height: 21px; width: 100%; margin: auto; }
.recommandent-author { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-align: left; }
.recommandent-author__img { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; margin: 0 27px; }
.recommandent-author__img img { border-radius: 50%; }
.recommandent-author__content { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
.recommandent-author__content h5 { font-size: 21px; font-weight: 600; margin-bottom: 3px; }
.recommandent-author__content p { font-size: 14px; line-height: 20px; margin-bottom: 3px; }
.recommandent-author__content p strong { font-family: "Open Sans", sans-serif; font-weight: 700; }

.legales { text-align: center; }
.legales p { font-size: 14px; line-height: 20px; margin-bottom: 30px; }
.legales .wrapper > *:last-child { margin-bottom: 0; }

.contacts { text-align: center; }
.contacts-wrap { max-width: 788px; padding: 50px 65px 65px; margin: 0 auto; border-radius: 4px; border: 1px solid #dcdcdc; }
.contacts-wrap p { text-align: center; font-size: 14px; line-height: 20px; }
.contacts-wrap .box-form { margin-bottom: 40px; margin-top: 40px; }
.contacts-wrap .btn { padding: 0 60px; }

/* 6. FOOTER */
/* ================================================ */
.footer { width: 100%; min-width: 320px; text-align: center; }
.footer-btn { margin: 50px 0 35px; }
.footer--mini { padding: 10px 0 35px; }

.copy { font-size: 14px; line-height: 20px; margin-bottom: 0; }

/* 7. MEDIA */
/* ================================================ */
@media screen and (max-width: 991px) { .html-margin { margin-right: 0px; }
  .faisons-wrap__item { padding: 6% 5%; }
  .faisons-wrap__item:nth-child(2n):after { margin-top: 6%; }
  .approche-wrap__head { height: 100px; }
  .approche-wrap__box { padding: 40px 30px; }
  .recommandent-text { padding: 30px; }
  .recommandent-author__img { margin-left: 0; margin-right: 20px; }
  .recommandent-text:after { left: 28px; }
  .perfomance-wrap { padding-left: 35px; padding-right: 35px; }
  .perfomance-wrap .slick-dots { margin-top: 20px; }
  .perfomance-wrap .slick-dots li.slick-active button { background: #ff5c68 !important; }
  .perfomance-box { height: 290px !important; max-width: 250px; margin: 0 auto; padding-left: 20px; padding-right: 20px; }
  .perfomance-box p { font-size: 16px; line-height: 24px; margin-bottom: 15px; }
  .perfomance-box__procent { font-size: 50px; } }
@media screen and (max-width: 767px) { .wrapper { padding-left: 32px; padding-right: 32px; }
  h2 br { display: none; }
  p { font-size: 18px; line-height: 25px; }
  p br { display: none; }
  .box-form--horizontal { display: block; }
  .box-form--horizontal .form-field--column { width: auto; }
  .form-input { font-size: 16px; line-height: 16px; }
  .jq-selectbox__select { font-size: 16px; }
  label, .mutli-select__placeholder { font-size: 16px; line-height: 22px; }
  .label-text { font-size: 17px; line-height: 22px; }
  .jq-checkbox { width: 12px; height: 12px; }
  .jq-checkbox.checked .jq-checkbox__div { width: 8px; height: 8px; margin: 1px 0 0 1px; }
  .form-field__input { margin-bottom: 20px; }
  .list-check--horizontal { display: block; }
  .list-check--horizontal .list-check__item { width: auto; max-width: none; }
  .btn, a.btn { height: 60px; padding: 0 48px; letter-spacing: 1.22px; font-size: 16px; line-height: 16px; border-radius: 30px; }
  .header { padding-top: 25px; }
  .navbar-wrap { height: 100vh; overflow-y: auto; }
  .navbar-wrap img { width: 44px; margin-bottom: 47px; }
  .navbar-wrap .wrapper { padding-top: 137px; padding-left: 55px; padding-right: 55px; }
  .navbar-menu__link { font-size: 34px; }
  .logo { width: 108px; }
  .home { height: auto; min-height: 100vh; }
  .home__title { margin-bottom: 35px; }
  .home p { font-size: 21px; line-height: 30px; }
  .home p br { display: none; }
  .faisons-wrap { display: block; margin-top: 44px; }
  .faisons-wrap:after { display: none; }
  .faisons-wrap__item { width: auto; padding-left: 0; padding-right: 0; padding-top: 0; padding-bottom: 0; margin: 0 auto; max-width: 480px; }
  .faisons-wrap__item:after { content: ""; display: block; position: static !important; height: 2px; margin: 35px 0; background-color: #00d8ff; background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #f3f3f3), to(#ffffff)); background-image: -webkit-linear-gradient(left, #ffffff 0%, #f3f3f3 50%, #ffffff 100%); background-image: -o-linear-gradient(left, #ffffff 0%, #f3f3f3 50%, #ffffff 100%); background-image: linear-gradient(to right, #ffffff 0%, #f3f3f3 50%, #ffffff 100%); }
  .faisons-wrap__item:last-child:after { display: none; }
  .approche-wrap__head { height: 83px; padding: 15px; margin-bottom: 34px; }
  .approche-wrap__head-title { font-size: 24px; }
  .approche-wrap__head-title img { display: none; }
  .approche-wrap__box { padding: 15px 6px; margin-bottom: 10px; border-radius: 5px; height: auto !important; }
  .approche-wrap__box p { display: none; }
  .approche-wrap__box-title { margin-bottom: 0; }
  .approche-wrap__box-title.sm a { font-size: 14px; }
  .approche-wrap__box-title a { font-size: 15px; color: #262c32; text-decoration: none; }
  .arrow-down:before { width: 43px; height: 47px; background-size: cover; }
  .arrow-down-sm:before { display: none; }
  .carousel-wrap { margin-top: 55px; }
  .carousel-wrap .slick-arrow { top: 80px; -webkit-transform: none; -ms-transform: none; transform: none; }
  .carousel-item { height: auto !important; padding-top: 0; padding-bottom: 0; padding-left: 10px; padding-right: 10px; }
  .carousel-item h4 { font-weight: 700; margin-bottom: 20px; font-size: 30px; }
  .carousel-item p { font-size: 18px; line-height: 26px; }
  .carousel-item:hover { -webkit-box-shadow: none; box-shadow: none; }
  .recommandent-wrap { padding-left: 0; padding-right: 0; }
  .recommandent-wrap .slick-arrow { top: auto; bottom: 21px; }
  .recommandent-item { padding: 0; }
  .recommandent-text { height: auto !important; }
  .recommandent-text:after { left: 77px; }
  .recommandent-author { margin-left: 50px; margin-right: 50px; }
  .faisons-wrap__item h6 { font-size: 20px; line-height: 27px; }
  .faisons-wrap__item p { font-size: 18px; line-height: 25px; }
  .contacts-wrap { padding: 0px; border: none; }
  .contacts-wrap .btn { width: 100%; max-width: 290px; padding-left: 40px; padding-right: 40px; } }
@media screen and (max-width: 479px) { .wrapper { padding-left: 29px; padding-right: 29px; }
  p, .legales p { font-size: 16px; line-height: 22px; }
  h1 { font-size: 36px; line-height: 42px; }
  h2 { font-size: 27px; line-height: 36px; }
  .logo { width: 92px; }
  .home { background: url("../img/home-bg-mobile.png") no-repeat center bottom; background-size: cover; }
  .home img { width: 67px; }
  .home p { font-size: 18px; line-height: 26px; }
  .navbar-toggle span { width: 22px; }
  .navbar-toggle span:nth-child(2) { width: 32px; }
  .section-name { font-size: 13px; }
  .faisons-wrap__item h6 { font-size: 18px; line-height: 24px; }
  .faisons-wrap__item p { font-size: 16px; line-height: 22px; }
  .approche-wrap { margin: 0 -7px; }
  .approche-wrap__head { height: 67px; margin-bottom: 30px; }
  .approche-wrap__head-title { font-size: 20px; }
  .approche-wrap__item { padding: 0 7px; }
  .approche-wrap__item:first-child .approche-wrap__head:after { height: 50px; width: 50px; font-size: 37px; margin-top: -25px; margin-left: -17px; }
  .approche-wrap__box-title.sm a { font-size: 12px; }
  .approche-wrap__box-title a { font-size: 14px; }
  .perfomance { background: url("../img/perfomance-bg-mobile.png") no-repeat left bottom; }
  .perfomance h2 { text-shadow: none; }
  .perfomance-box__procent { font-size: 52px; }
  .perfomance-box p { font-size: 18px; }
  .perfomance-wrap { padding-left: 24px; padding-right: 24px; }
  .perfomance-wrap .slick-arrow { -webkit-transform: none; -ms-transform: none; transform: none; margin-top: -17px; }
  .arrow-down:before { width: 34px; height: 37px; }
  .carousel-item h4 { font-size: 25px; }
  .carousel-item p { font-size: 16px; line-height: 22px; }
  .recommandent-author { margin-left: 40px; margin-right: 30px; }
  .recommandent-author__img { width: 79px; margin-right: 15px; }
  .recommandent-author__content h5 { font-size: 19px; }
  .recommandent-author__content p { font-size: 15px; }
  .recommandent-text:after { left: 65px; }
  .recommandent-text:before { font-size: 203px; left: 10px; top: 30px; }
  .recommandent-author__content { overflow: hidden; }
  .recommandent-author__content p strong { display: block; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
  .slick-next, .slick-prev { background: url("../img/right-arrow-mobile.png?ver1.0") no-repeat 0 0; width: 20px; height: 35px; }
  .slick-next { -webkit-transform: rotate(180deg) !important; -ms-transform: rotate(180deg) !important; transform: rotate(180deg) !important; }
  .footer { padding-bottom: 30px; } }
@media screen and (max-width: 410px) { h2 { font-size: 21px; line-height: 28px; }
  p { font-size: 17px; line-height: 23px; }
  .section-name { letter-spacing: 1.55px; }
  .wrapper { padding-left: 25px; padding-right: 25px; }
  .btn, a.btn { height: 55px; padding: 0 20px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; }
  .navbar { width: 100%; text-align: right; }
  .navbar-toggle { display: inline-block; }
  .navbar-wrap { text-align: left; }
  .navbar-wrap .wrapper { padding-top: 128px; padding-left: 50px; padding-right: 50px; padding-bottom: 50px; }
  .navbar-wrap img { width: 37px; }
  .navbar-menu__link { font-size: 26px; }
  .navbar-toggle.active span:first-child, .navbar-toggle.active span:last-child { width: 32px; }
  .header--dark .logo { display: none; }
  .logo { width: 112px; position: absolute; left: 50%; top: 50px; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); }
  .home { padding-top: 116px; }
  .home__title { font-size: 34px; }
  .home p { font-size: 17px; }
  .home img { display: none; }
  .section-name { font-size: 15px; }
  .approche-wrap { display: block; }
  .approche-wrap__item { width: auto; }
  .approche-wrap__item:first-child:after { content: "+"; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 58px; height: 58px; color: #fff; font-family: "Montserrat", sans-serif; font-size: 43px; font-weight: 500; border-radius: 50%; margin: 20px auto; text-align: center; -webkit-box-shadow: -1px 6px 9px 1px rgba(0, 0, 0, 0.13); box-shadow: -1px 6px 9px 1px rgba(0, 0, 0, 0.13); background-color: #ff5c68; }
  .approche-wrap__head { height: 73px; }
  .approche-wrap__head-title { font-size: 24px; }
  .approche-wrap__box-title a, .approche-wrap__box-title.sm a { font-size: 19px; }
  .approche-wrap__item:first-child .approche-wrap__head:after { display: none; }
  .carousel-wrap { margin-left: auto; margin-right: auto; padding-left: 0; padding-right: 0; }
  .carousel-wrap img { margin-bottom: 35px; }
  .carousel-item h4 { font-size: 21px; }
  .recommandent-wrap .slick-prev { display: none; }
  .recommandent-wrap .slick-arrow { bottom: 13px; }
  .recommandent-text:after { left: 14px; }
  .recommandent-author { margin-left: 0; }
  .recommandent-author__img { width: 60px; }
  .recommandent-author__content h5 { font-size: 16px; margin-bottom: 0; }
  .recommandent-author__content p { font-size: 14px; margin-bottom: 0; }
  .legales { padding-top: 46px; padding-bottom: 50px; } }
@media (max-height: 500px) { .navbar-wrap .wrapper { padding-top: 78px; padding-bottom: 40px; }
  .navbar-menu__link { font-size: 24px; }
  .navbar-menu:after { margin-top: 30px; }
  .navbar-wrap img { margin-bottom: 30px; } }

/*# sourceMappingURL=style.css.map */