/* Author:    Pit Orel Portfolio: https://www.behance.net/orel-1993412d Github:    https://github.com/pit6262 Skype:     hostings1 */
/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { margin: 0px; padding: 0px; position: relative; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { color: #333; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"] { cursor: pointer; -webkit-appearance: none; outline: none; }

button { cursor: pointer; -webkit-appearance: none; outline: none; }

td, form { margin: 0px; padding: 0px; }

a { color: inherit; font-family: inherit; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; text-decoration: none; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* ========================== FORM STYLER ========================*/
.jq-checkbox { top: -1px; vertical-align: middle; width: 16px; height: 16px; margin: 0 4px 0 0; border: 1px solid #aaa; border-radius: 3px; background: #fff; cursor: pointer; }

.jq-checkbox.checked .jq-checkbox__div { width: 10px; height: 10px; margin: 2px 0 0 2px; border-radius: 2px; background: #08C; }

.jq-checkbox.disabled { opacity: .55; }

.jq-radio { top: -1px; vertical-align: middle; width: 16px; height: 16px; margin: 0 4px 0 0; border: 1px solid #aaa; border-radius: 50%; background: #fff; cursor: pointer; }

.jq-radio.checked .jq-radio__div { width: 8px; height: 8px; margin: 3px 0 0 3px; border-radius: 50%; background: #08C; }

.jq-radio.disabled { opacity: .55; }

.jq-file { border-radius: 5px; cursor: pointer; }

.jq-file input { height: 100%; line-height: 1em; cursor: pointer; }

.jq-file.form-control { border: none !important; padding: 0 !important; }

.jq-file__name { overflow: hidden; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 40px; padding: 0 80px 0 20px; border: 1px solid #aaa; border-radius: 5px; background: #FFF; font: 14px/40px Arial, sans-serif; color: #444; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; cursor: pointer; }

.jq-file__browse { position: absolute; top: 1px; right: 1px; padding: 0 18px; border-left: 1px solid #aaa; border-radius: 0 5px 5px 0; background: #F5F5F5; font: 14px/38px Arial, sans-serif; color: #333; }

.jq-file.disabled { border-color: #CCC; color: #888; }

.jq-file.disabled .jq-file__name, .jq-file.disabled .jq-file__browse { border-color: #CCC; -webkit-box-shadow: none; box-shadow: none; color: #888; }

.jq-number { position: relative; display: inline-block; vertical-align: middle; padding: 0 36px 0 0; }

.jq-number__field { width: 100px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; }

.jq-number__field:hover { border-color: #B3B3B3; }

.jq-number__field input { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 8px 9px; border: none; outline: none; background: none; font: 14px Arial, sans-serif; color: #333; text-align: left; -moz-appearance: textfield; }

.jq-number__field input::-webkit-inner-spin-button, .jq-number__field input::-webkit-outer-spin-button { margin: 0; -webkit-appearance: none; }

.jq-number__spin { position: absolute; top: 0; right: 0; width: 32px; height: 14px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; background: #F5F5F5; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; text-shadow: 1px 1px #FFF; cursor: pointer; }

.jq-number__spin.minus { top: auto; bottom: 0; }

.jq-number__spin:hover { background: #E6E6E6; }

.jq-number__spin:active { background: #F5F5F5; -webkit-box-shadow: inset 1px 1px 3px #DDD; box-shadow: inset 1px 1px 3px #DDD; }

.jq-number__spin:after { content: ''; position: absolute; top: 4px; left: 11px; width: 0; height: 0; border-right: 5px solid transparent; border-bottom: 5px solid #999; border-left: 5px solid transparent; }

.jq-number__spin.minus:after { top: 5px; border-top: 5px solid #999; border-right: 5px solid transparent; border-bottom: none; border-left: 5px solid transparent; }

.jq-number__spin.minus:hover:after { border-top-color: #000; }

.jq-number__spin.plus:hover:after { border-bottom-color: #000; }

.jq-number__spin.focused .jq-number__field { border: 1px solid #5794BF; }

.jq-number__spin.disabled .jq-number__field { border-color: #CCC; background: #F5F5F5; -webkit-box-shadow: none; box-shadow: none; color: #888; }

.jq-number__spin.disabled .jq-number__spin { border-color: #CCC; background: #F5F5F5; -webkit-box-shadow: none; box-shadow: none; color: #888; }

.jq-number__spin.disabled .jq-number__spin:after { border-bottom-color: #AAA; }

.jq-number__spin.disabled .jq-number__spin.minus:after { border-top-color: #AAA; }

.jq-selectbox { vertical-align: middle; cursor: pointer; }

.jq-selectbox__select { height: 40px; padding: 0 15px 0 0; border: none; border-bottom: 1px solid #BEBFD0; border-radius: 0; background: transparent; font: 14px/40px "Open Sans", Arial, sans-serif; color: #666; }

.jq-selectbox.form-control { width: 100%; padding: 0; border: none; }

.jq-selectbox.disabled .jq-selectbox__select { border-color: #CCC; background: #F5F5F5; -webkit-box-shadow: none; box-shadow: none; color: #888; }

.jq-selectbox__select-text { display: block; overflow: hidden; width: 100%; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.jq-selectbox .placeholder { color: #a9a9a9; }

.jq-selectbox__trigger { position: absolute; top: 0; right: 0; width: 8px; height: 100%; background: url("../img/dropdown.png") no-repeat center; }

.jq-selectbox:hover .jq-selectbox__trigger-arrow { border-top-color: #000; }

.jq-selectbox.disabled .jq-selectbox__trigger-arrow { border-top-color: #AAA; }

.jq-selectbox__dropdown { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; min-width: 100px; padding: 0; margin-top: 2px; border: 1px solid #c9cad5; border-radius: 3px; background: #FFF; font: 14px/18px Arial, sans-serif; }

.jq-selectbox__search { margin: 5px; }

.jq-selectbox__search input { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 5px 27px 6px 8px; border: 1px solid #CCC; border-radius: 3px; outline: none; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%; -webkit-box-shadow: inset 1px 1px #F1F1F1; box-shadow: inset 1px 1px #F1F1F1; color: #333; -webkit-appearance: textfield; }

.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration { -webkit-appearance: none; }

.jq-selectbox__not-found { margin: 5px; padding: 5px 8px 6px; background: #F0F0F0; font-size: 13px; }

.jq-selectbox ul { margin: 0; padding: 0; }

.jq-selectbox li { min-height: 18px; padding: 5px 10px 6px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; color: #231F20; }

.jq-selectbox li.selected { background-color: #08C; color: #FFF; }

.jq-selectbox li:hover { background-color: #A3ABB1; color: #FFF; }

.jq-selectbox li.disabled { color: #AAA; }

.jq-selectbox li.optgroup { font-weight: bold; }

.jq-selectbox li.optgroup:hover { background: none; color: #231F20; cursor: default; }

.jq-selectbox li.option { padding-left: 25px; }

.jq-select-multiple { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1px; border: 1px solid #aaa; border-radius: 5px; background: #FFF; font: 14px/18px Arial, sans-serif; color: #444; cursor: default; }

.jq-select-multiple.form-control { padding: 0 !important; height: auto !important; }

.jq-select-multiple.disabled { border-color: #CCC; -webkit-box-shadow: none; box-shadow: none; color: #888; }

.jq-select-multiple ul { margin: 0; padding: 0; }

.jq-select-multiple li { padding: 6px 20px; list-style: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; }

.jq-select-multiple li:first-child { border-radius: 5px 5px 0 0; }

.jq-select-multiple li:last-child { border-radius: 0 0 5px 5px; }

.jq-select-multiple li.selected { background: #08C; color: #FFF; }

.jq-select-multiple li.disabled { color: #AAA; }

.jq-select-multiple li.selected.disabled { background: #CCC; color: #FFF; }

.jq-select-multiple li.optgroup { font-weight: bold; }

.jq-select-multiple li.option { padding-left: 25px; }

.jq-select-multiple.disabled li.selected { background: #CCC; color: #FFF; }

/* ========================== SLICK SLIDER ========================*/
.slick-slider { position: relative; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; top: 0; left: 0; display: block; }

.slick-track:before { display: table; content: ''; }

.slick-track:after { display: table; content: ''; clear: both; }

.slick-loading .slick-track { visibility: hidden; }

[dir='rtl'] .slick-slide { float: right; }

.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-slide:focus { outline: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

.slick-prev, .slick-next { position: absolute; top: 50%; z-index: 1; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); width: 40px; height: 40px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; border-radius: 50%; background: #7f85c2; text-align: center; line-height: 40px; padding: 0; border: none; }

.slick-prev .icon, .slick-next .icon { color: #fff; width: 16px; height: 16px; }

.slick-prev { left: -60px; }

.slick-next { right: -60px; }

.slick-disabled { opacity: 0.3; }

.slick-dots { margin-top: 30px; list-style: none; text-align: center; }

.slick-dots li { display: inline-block; vertical-align: middle; margin: 0 7px; }

.slick-dots li.slick-active button { width: 12px; height: 12px; opacity: 1; }

.slick-dots li button { border: none; display: block; background-color: #7f85c2; padding: 0; height: 8px; width: 8px; opacity: 0.2; border-radius: 50%; text-indent: -999px; overflow: hidden; }

body { color: #666; font: 400 16px/1.5 "Open Sans", Arial, sans-serif; background: #FFF; }

/* 3. MAIN STYLES */
/* ================================================ */
.main-wrapper { padding: 0; min-width: 320px; position: relative; overflow: hidden; opacity: 1; min-height: 100%; }

.wrapper { width: 100%; min-width: 320px; max-width: 1360px; padding: 0 30px 0 30px; margin: 0 auto; position: relative; }

.wrapper-full { padding: 0 30px 0 30px; margin: 0 auto; position: relative; width: 100%; min-width: 320px; }

h1 { margin: 0px 0 7px 0; padding: 0; color: #312e44; font-size: 48px; line-height: 1.3; font-weight: 700; }

h2 { margin: 0px 0 13px 0; pading: 0; font-size: 42px; color: #312e44; }

h3 { font-size: 24px; font-weight: normal; }

p { margin: 0 0 20px; font-size: 16px; line-height: 1.5; }

img { display: block; max-width: 100%; }

.pb0 { padding-bottom: 0 !important; }

/* text position */
.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

/* loader */
.loaded .main-wrapper { visibility: hidden; opacity: 0; -webkit-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; }

.icon-load { background: #fff; position: fixed; z-index: 99999; left: 0; top: 0; right: 0; bottom: 0; display: none; }

.loaded .icon-load { display: block; }

.loaded .icon-load:before { display: block; position: absolute; content: ""; left: -25%; width: 25%; height: 3px; top: 0; background-color: #425cbb; -webkit-animation: loading 5s linear infinite; animation: loading 5s linear infinite; }

@-webkit-keyframes loading { from { left: -25%; }
  to { left: 125%; } }

@keyframes loading { from { left: -25%; }
  to { left: 125%; } }

/* 3.1. Icons @mixin ===================== */
.icon { display: inline-block; width: 1em; height: 1em; stroke-width: 0; stroke: currentColor; fill: currentColor; }

/* 3.2. Buttons @mixin ===================== */
.btn, a.btn { position: relative; display: -webkit-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; overflow: hidden; vertical-align: middle; height: 48px; padding: 0 25px; color: #7f85c2; font: 700 16px/16px "Open Sans", Arial, sans-serif; text-align: center; text-decoration: none; border: none; background-color: #fff; border-radius: 4px; cursor: pointer; min-width: 170px; -webkit-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }

.btn span:not(.circle), a.btn span:not(.circle) { position: relative; z-index: 1; }

.btn .circle, a.btn .circle { position: absolute; display: block; width: 0; height: 0; border-radius: 50%; background-color: #7f85c2; -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out; -o-transition: width 0.4s ease-in-out, height 0.4s ease-in-out; transition: width 0.4s ease-in-out, height 0.4s ease-in-out; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.btn:hover, a.btn:hover { text-decoration: none; color: #fff; border-color: #7f85c2; }

.btn:hover .circle, a.btn:hover .circle { width: 900px; height: 900px; }

.btn--line, a.btn--line { border: 1px solid #fff; color: #fff; background-color: transparent; }

.btn--line:hover, a.btn--line:hover { border-color: #fff; background-color: rgba(255, 255, 255, 0.6); color: #666; }

.btn--line:hover .circle, a.btn--line:hover .circle { background: #fff; }

.btn--line-yellow, a.btn--line-yellow { border: solid 1px #7f85c2; color: #7f85c2; }

.btn--block, a.btn--block { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; }

.btn--lg, a.btn--lg { height: 56px; font-size: 20px; min-width: 180px; }

.btn--success, a.btn--success { background-image: -webkit-linear-gradient(344deg, #02da94, #02dcb8); background-image: -o-linear-gradient(344deg, #02da94, #02dcb8); background-image: linear-gradient(106deg, #02da94, #02dcb8); color: #fff; }

.btn--success .circle, a.btn--success .circle { background-image: -webkit-linear-gradient(344deg, #06b37b, #0cc7a8); background-image: -o-linear-gradient(344deg, #06b37b, #0cc7a8); background-image: linear-gradient(106deg, #06b37b, #0cc7a8); }

.btn--success:hover, a.btn--success:hover { color: #fff; }

.btn--success:hover .circle, a.btn--success:hover .circle { background-image: -webkit-linear-gradient(344deg, #06b37b, #0cc7a8); background-image: -o-linear-gradient(344deg, #06b37b, #0cc7a8); background-image: linear-gradient(106deg, #06b37b, #0cc7a8); }

.btn--br, a.btn--br { border: 1px solid #7f85c2; }

input.btn, button.btn { display: inline-block; }

input.btn--block, button.btn--block { display: block; width: 100%; }

/* 3.3. forms @mixin ===================== */
.form-field { margin-bottom: 46px; }

.form-field:last-child { margin-bottom: 31px; }

.form-field.focus .label-over { display: none; }

.form-field.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.form-field.flex label { margin-right: 20px; }

.form-field.flex .styler { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; margin-left: auto; }

.form-input { display: block; width: 100%; height: 30px; padding: 0; color: #fff; font: normal 14px/18px "Open Sans", Arial, sans-serif; border: none; border-bottom: 1px solid #fff; background: transparent; letter-spacing: 0.2px; }

.form-input:-ms-input-placeholder { color: #fff; }

.form-input:-moz-placeholder { color: #fff; }

.form-input::-moz-placeholder { color: #fff; }

.form-input::-webkit-input-placeholder { color: #fff; }

.form-input::-ms-input-placeholder { color: #fff; }

.form-input::placeholder { color: #fff; }

.form-input:-moz-placeholder, .form-input::-moz-placeholder { color: #fff; opacity: 1; }

.form-input::-webkit-input-placeholder { color: #fff; }

input[type="search"] { -webkit-appearance: none; }

::-ms-clear { width: 0; height: 0; }

textarea.form-input { height: auto; min-height: 100px; padding-top: 10px; resize: none; }

label { display: block; font-weight: 400; font-size: 14px; color: #312e44; }

label span { color: #e24a83; }

.label-over { margin: 0; font-weight: normal; position: absolute; top: 3px; left: 0; pointer-events: none; color: #312e44; }

.label-over span { color: #e24a83; }

.checkbox { cursor: pointer; font-size: 14px; color: #666; font-weight: normal; }

.checkbox input[type="checkbox"] { display: none; }

.checkbox input[type="checkbox"] + .label-text:before { content: ''; display: block; position: absolute; top: 3px; left: 0; width: 16px; height: 16px; border-radius: 2px; border: solid 1px #02da94; }

.checkbox input[type="checkbox"]:checked + .label-text:after { content: ''; display: block; position: absolute; width: 10px; height: 10px; top: 6px; left: 3px; border-radius: 1px; background-color: #02da94; }

.label-text { padding-left: 25px; display: block; color: #666; }

.small { font-size: 12px; }

.small a { color: #4a90e2; }

/* 4. HEADER */
/* ================================================ */
.header { min-width: 320px; text-align: left; position: fixed; left: 0px; top: 0px; right: 0; z-index: 99; padding: 20px 30px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; border-top: 2px solid #02dcb6; }

.header.fixed { -webkit-box-shadow: 0 2px 12px 0 rgba(66, 68, 96, 0.3); box-shadow: 0 2px 12px 0 rgba(66, 68, 96, 0.3); background-color: #fff; }

.header.fixed .menu__link, .header.fixed .tel__text, .header.dark .menu__link, .header.dark .tel__text { color: #312e44; }

.header.fixed .logo-white, .header.dark .logo-white { display: none; }

.header.fixed .logo-dark, .header.dark .logo-dark { display: block; }

.header.fixed .btn:not(.btn--success), .header.dark .btn:not(.btn--success) { border: 1px solid #7f85c2; }

.header .btn:not(.btn--success) { border: 1px solid #fff; }

.header-right { width: 30%; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; text-align: right; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.header .logo { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; width: 30%; }

.header .logo-dark { display: none; }

.header .menu { width: 40%; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.tel { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; white-space: nowrap; }

.tel__link { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.tel__icon { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; width: 24px; height: 24px; border-radius: 50%; background-image: -webkit-linear-gradient(315deg, #02da94, #02dcb8); background-image: -o-linear-gradient(315deg, #02da94, #02dcb8); background-image: linear-gradient(135deg, #02da94, #02dcb8); }

.tel__icon .icon { color: #fff; width: 10px; height: 10px; }

.tel__text { font-size: 20px; color: #fff; padding-left: 6px; }

.login { margin-left: 32px; font-size: 0; }

.login .btn { height: 40px; min-width: 1px; }

.login .btn + .btn { margin-left: 10px; }

.menu { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; list-style: none; }

.menu__item { margin: 0 23px; }

.menu__item.active .menu__link:after { width: 100%; }

.menu__link { font-size: 18px; position: relative; color: #fff; text-decoration: none; }

.menu__link:hover:after { width: 100%; }

.menu__link:after { content: ''; display: block; position: absolute; left: 0; width: 0; bottom: -10px; height: 2px; background-image: -webkit-linear-gradient(344deg, #02da94, #02dcb8); background-image: -o-linear-gradient(344deg, #02da94, #02dcb8); background-image: linear-gradient(106deg, #02da94, #02dcb8); -webkit-transition: width 0.4s; -o-transition: width 0.4s; transition: width 0.4s; }

.navbar-toggle { display: none; }

.navbar-mobile { display: none; }

/* 5. CONTENT */
/* ================================================ */
.section-title { font-weight: 400; }

.sec-home { background: url("../img/home-bg.jpg?ver1.0") no-repeat center; background-size: cover; height: 762px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 120px 0; }

.sec-home--dark { color: #fff; }

.sec-home--dark h1 { color: #fff; }

.sec-home.sec-home2 { background-image: url("../img/home-bg2.jpg"); }

.sec-home img { margin-bottom: 10px; }

.sec-home p { font-size: 20px; }

.sec-home .btn { margin-top: 22px; }

.sec-advantages { padding-top: 90px; padding-bottom: 80px; }

.sec-advantages .section-title, .sec-advantages .section-text { text-align: center; }

.sec-advantages .text-center { padding-bottom: 40px; }

.advantages-img { margin: 0 auto 40px; }

.c-box { padding-top: 1px; padding-bottom: 100px; background-image: -webkit-linear-gradient(339deg, #4a4e7e, #7f85c2); background-image: -o-linear-gradient(339deg, #4a4e7e, #7f85c2); background-image: linear-gradient(111deg, #4a4e7e, #7f85c2); }

.c-title { margin-top: 85px; margin-bottom: 40px; }

.box-form-app { max-width: 480px; margin: -48px auto 0; background: #fff; border: 1px solid #dfe1ec; border-radius: 4px; padding: 40px 55px 55px; }

.box-form-app .form-field { position: relative; margin-bottom: 30px; }

.box-form-app .form-input { border-color: #BEBFD0; color: #666; }

.box-form-app .styler { width: 80px; }

.rate { width: 116px; }

.rate div { background: url("../img/star.png?ver1.0") no-repeat left top; height: 19px; }

.testimonials { background-image: -webkit-gradient(linear, left top, right top, from(#4B4F80), to(#7D83BF)); background-image: -webkit-linear-gradient(left, #4B4F80 0%, #7D83BF 100%); background-image: -o-linear-gradient(left, #4B4F80 0%, #7D83BF 100%); background-image: linear-gradient(to right, #4B4F80 0%, #7D83BF 100%); height: 500px; text-align: center; padding: 190px 0 120px; color: #fff; }

.testimonials .rate { margin: 0 auto 15px; }

.testimonials h1 { font-weight: bold; color: #fff; margin: 0; }

.c-header { padding-bottom: 90px; }

.c-header .wrapper { max-width: 1140px; }

.c-header-top { margin-top: -145px; padding: 50px 60px 50px; background: #fff; text-align: center; border-radius: 4px; -webkit-box-shadow: 0 2px 7px 0 rgba(66, 68, 96, 0.1); box-shadow: 0 2px 7px 0 rgba(66, 68, 96, 0.1); }

.c-header-top p { line-height: 1.75; margin-bottom: 30px; }

.c-header-body { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -15px 30px; }

.c-header-body__item { width: 50%; padding: 15px; }

.c-item { padding: 60px 40px 40px; background: #fff; border: solid 2px #ebedf8; border-radius: 4px; }

.c-item__img { margin-bottom: 50px; }

.c-item__img img { margin: 0 auto; }

.c-item p { line-height: 1.71; font-size: 14px; margin-bottom: 12px; }

.c-item p a { color: #4a90e2; }

.c-item__author-name { color: #4a4e7e; font-weight: bold; font-size: 16px; }

.c-item__author-slogan { color: #666; font-size: 14px; font-style: italic; }

.cooperate { max-width: 1170px; margin: 0 auto; padding: 40px 54px 40px 127px; height: 120px; margin-top: -60px; border-radius: 4px; background-color: #ffffff; -webkit-box-shadow: 0 2px 7px 0 rgba(66, 68, 96, 0.1); box-shadow: 0 2px 7px 0 rgba(66, 68, 96, 0.1); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.cooperate__title { font-size: 20px; color: #333; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

.cooperate__link { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

.cooperate__link a { color: #7e84c1; font-weight: 600; }

.cooperate__link a:hover { color: #02dcb6; }

.cooperate__logo { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; padding: 0 50px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.box-advantages { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: 61px; }

.advantages { background: #fff; min-height: 285px; border: 1px solid #dfe1ec; width: 50%; margin-top: -1px; }

.advantages:nth-child(2n) { border-left: none; }

.advantages__content { padding: 25px 34px 30px 30px; }

.advantages__title { font-size: 24px; font-weight: bold; margin-bottom: 8px; }

.advantages__title .icon { display: none; }

.advantages__link { font-size: 16px; color: #4a90e2; font-weight: bold; }

.advantages__link .icon { color: inherit; width: 10px; height: 14px; vertical-align: middle; }

.advantages--bg { color: #fff; background-color: #7f85c2; }

.advantages--bg .advantages__link { color: #fff; }

.advantages--bg2 { color: #fff; background-color: #4a4e7e; }

.advantages--bg2 .advantages__link { color: #fff; }

.advantages--img { position: relative; }

.advantages--img .advantages__content { width: 50%; }

.advantages--img .advantages__img { position: absolute; top: 0; right: 0; bottom: 0; width: 50%; background-size: cover; background-repeat: no-repeat; background-position: center; }

.howitworks-list { list-style: none; counter-reset: li; max-width: 860px; margin: 100px auto 0; }

.howitworks-list > li:before { content: counter(li); counter-increment: li; }

.howitworks-list__item { position: relative; padding-left: 175px; }

.howitworks-list__item:before { content: "0" counter(li) !important; position: absolute; left: 0; top: -15px; font-weight: bold; font-size: 70px; line-height: 60px; color: #ebedf8; }

.howitworks-list__item:last-child .howitworks-list__body:after { display: none; }

.howitworks-list__body { padding-bottom: 40px; }

.howitworks-list__body h3 { font-size: 24px; font-weight: 400; margin-bottom: 10px; }

.howitworks-list__body p a { color: #4a90e2; }

.howitworks-list__body:before { content: ''; display: block; width: 30px; height: 30px; border-radius: 50%; background-color: #b2b5de; border: solid 6px #ebedf8; position: absolute; left: 110px; top: 4px; z-index: 1; }

.howitworks-list__body:after { content: ''; display: block; position: absolute; left: 125px; top: 4px; bottom: -4px; width: 2px; background: #ebedf8; }

.sec-busines { background: url("../img/teamplay-image.jpg?ver1.0") no-repeat right center; background-size: cover; height: 660px; padding: 100px 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-align: left; color: #fff; }

.sec-busines h3 { line-height: 1.25; font-size: 32px; font-weight: 400; margin-bottom: 8px; }

.sec-busines h2 { color: #fff; font-weight: 700; }

.sec-busines .group-button { margin-top: 45px; }

.group-button { font-size: 0; }

.group-button .btn + .btn { margin-left: 15px; }

.sec-comments { padding: 124px 0 130px; }

.comments { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-right: -75px; }

.comments__left { width: 390px; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

.comments__left .btn { margin-top: 8px; }

.comments__right { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; overflow: hidden; padding-right: 75px; padding-left: 130px; }

.comments-slider { margin-left: -10px; margin-right: -10px; }

.cs { border: 2px solid #ebedf8; border-radius: 4px; padding: 30px; margin: 0 10px; }

.cs-author { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-bottom: 18px; }

.cs-author__img { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; width: 50px; height: 50px; border-radius: 50%; overflow: hidden; }

.cs-author__img img { width: 100%; }

.cs-author__name { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; padding-left: 20px; font-size: 20px; font-weight: bold; color: #7f85c2; }

.cs-quote { display: block; color: #333; font-style: italic; margin-bottom: 10px; }

.cs-link { color: #4a90e2; }

.cs-link:hover { text-decoration: underline; }

.sec-vestibulum { position: relative; overflow: hidden; padding: 109px 0; background-image: -webkit-linear-gradient(346deg, #4a4e7e, #7f85c2); background-image: -o-linear-gradient(346deg, #4a4e7e, #7f85c2); background-image: linear-gradient(104deg, #4a4e7e, #7f85c2); }

.vestibulum { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; color: #fff; }

.vestibulum .section-title { color: #fff; }

.vestibulum .section-text { color: rgba(255, 255, 255, 0.75); }

.vestibulum__left { width: 57%; padding-right: 160px; }

.vestibulum__right { width: 43%; }

.vestibulum-form { max-width: 370px; }

.fill { position: absolute; left: 50px; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }

.sec-started { padding: 145px 0 145px; background: url("../img/get-started-image.jpg?ver1.0") no-repeat right center; background-size: auto 100%; position: relative; }

.sec-started--bg-color { color: #fff; }

.sec-started--bg-color h2 { color: #fff; }

.sec-started--bg-color .btn:not(.btn--success) { border: 1px solid transparent; }

.sec-started--bg-color:before { content: ''; display: block; width: 50%; position: absolute; left: 0; top: 0; bottom: 0; background: #666ba0; }

.sec-started--bg-color .col-3 { max-width: 45% !important; }

.col-3 { max-width: 33.33%; }

.sticky { position: fixed; z-index: 2; }

.stop { position: relative; z-index: 2; }

.pricing { max-width: 1080px; margin: 80px auto 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.pricing-nav { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; width: 335px; padding-right: 40px; }

.pricing-nav-menu { list-style: none; }

.pricing-nav-menu li { margin-bottom: 25px; }

.pricing-nav-menu li.active a { font-weight: bold; }

.pricing-nav-menu li.active a:after { width: 61px; -webkit-transition: width 0.4s; -o-transition: width 0.4s; transition: width 0.4s; }

.pricing-nav-menu a { font-size: 18px; color: #312e44; }

.pricing-nav-menu a:after { content: ''; display: block; width: 0; height: 2px; background: #02dcb6; margin-top: 5px; -webkit-transition: width 0.4s; -o-transition: width 0.4s; transition: width 0.4s; }

.pricing-nav-menu a:hover:after { width: 61px; -webkit-transition: width 0.4s; -o-transition: width 0.4s; transition: width 0.4s; }

.pricing-content { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.pricing-content h3 { font-size: 36px; font-weight: 400; margin-bottom: 10px; color: #312e44; }

.pricing-content h4 { color: #312e44; font-size: 24px; margin-bottom: 12px; font-weight: 400; }

.pricing-content p small { font-size: 12px; }

.pricing-accordion__body { margin-bottom: 80px; }

.pricing-accordion__body:last-child { margin-bottom: 0; }

.pricing-accordion__head .icon { display: none; }

.table { margin: 15px auto 25px; }

table { width: 100%; }

table.table-lg th, table.table-lg td { padding-top: 12px; padding-bottom: 12px; }

table.table-lg th { font-size: 16px; }

table th { background: #312e44; color: #fff; text-align: left; }

table th.size16 { font-size: 16px; padding-top: 12px; padding-bottom: 12px; }

table th, table td { padding: 7px 20px; letter-spacing: -0.3px; font-size: 14px; }

table td { border-bottom: solid 1px #aeb0b9; }

table td:first-child { border-left: solid 1px #aeb0b9; }

table td:last-child { border-right: solid 1px #aeb0b9; }

table td img { display: inline-block; }

.text-lg { font-size: 18px; font-weight: bold; }

.lg { font-size: 18px; margin-bottom: 0; }

.lg a { color: #4a90e2; font-weight: bold; border-bottom: 2px solid; }

.ok-list { list-style: none; margin-left: 20px; margin-bottom: 20px; }

.ok-list li { position: relative; padding-left: 26px; margin-bottom: 3px; }

.ok-list li:before { display: block; content: ''; position: absolute; top: 2px; left: 0; width: 15px; height: 14px; background-size: cover; background: url("../img/checkmark-yes.svg") no-repeat center; }

.sec-boxed { padding: 70px 0; background-image: -webkit-gradient(linear, left top, right top, from(#666ba0), color-stop(50%, #666ba0), color-stop(50%, #4a4e7e), to(#4a4e7e)); background-image: -webkit-linear-gradient(left, #666ba0 0%, #666ba0 50%, #4a4e7e 50%, #4a4e7e 100%); background-image: -o-linear-gradient(left, #666ba0 0%, #666ba0 50%, #4a4e7e 50%, #4a4e7e 100%); background-image: linear-gradient(to right, #666ba0 0%, #666ba0 50%, #4a4e7e 50%, #4a4e7e 100%); }

.boxed-wrap { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-align: center; margin-left: -50px; margin-right: -50px; color: #fff; }

.boxed-wrap h2 { color: #fff; }

.boxed-wrap__item { width: 50%; padding: 0 50px; }

/* 6. FOOTER */
/* ================================================ */
.footer { width: 100%; min-width: 320px; background: #424460; padding: 69px 0 66px; color: #fff; }

.footer-logo { margin-bottom: 17px; }

.footer-logo img { width: 210px; }

.footer-wrap { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.footer-wrap__item { padding-bottom: 40px; padding-top: 21px; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; margin-left: 100px; }

.footer-wrap__left { padding-bottom: 40px; width: 350px; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

.footer-menu { list-style: none; }

.footer-menu__item { padding: 8px 0; }

.footer-menu__link { color: #ebedf8; position: relative; }

.footer-menu__link:hover:after { width: 100%; }

.footer-menu__link:after { content: ''; display: block; position: absolute; left: 0; width: 0; bottom: -5px; height: 2px; background-image: -webkit-linear-gradient(344deg, #02da94, #02dcb8); background-image: -o-linear-gradient(344deg, #02da94, #02dcb8); background-image: linear-gradient(106deg, #02da94, #02dcb8); -webkit-transition: width 0.4s; -o-transition: width 0.4s; transition: width 0.4s; }

.copyright { margin-top: 48px; font-size: 14px; margin-bottom: 0; }

.accordion__head { text-transform: uppercase; margin-bottom: 20px; }

.accordion__head .icon { display: none; }

.up { position: absolute; bottom: 30px; right: 30px; z-index: 1; width: 64px; height: 64px; border-radius: 50%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; background-image: -webkit-linear-gradient(315deg, #02da94, #02dcb8); background-image: -o-linear-gradient(315deg, #02da94, #02dcb8); background-image: linear-gradient(135deg, #02da94, #02dcb8); }

.up .icon { color: #fff; height: 30px; width: 30px; }

/* 7. MEDIA */
/* ================================================ */
@media screen and (max-width: 1690px) { .wrapper { max-width: 1260px; }
  .header-right, .header .logo { width: auto; }
  .menu { width: auto; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; margin-left: 50px; margin-right: 50px; }
  .comments { margin-right: 0; } }

@media screen and (max-width: 1280px) { .wrapper { max-width: 960px; padding-left: 30px; padding-right: 30px; }
  .cooperate { max-width: 90%; }
  .menu { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; margin-left: 80px; margin-right: 80px; }
  .menu__item { margin: 0 10px; }
  .menu__link { font-size: 16px; }
  .tel__icon { height: 30px; width: 30px; }
  .tel__icon .icon { width: 15px; height: 15px; }
  .tel__text { display: none; }
  .login .btn { padding-left: 20px; padding-right: 20px; }
  .header .logo { width: 120px; }
  .sec-home { min-height: 680px; height: auto; }
  h1 { font-size: 45px; }
  .cooperate { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 20px 40px; text-align: center; height: 130px; margin-top: -65px; }
  .cooperate__title { width: 100%; margin-bottom: 10px; }
  .cooperate__logo { width: 100%; margin-top: 10px; }
  .sec-advantages { padding-top: 70px; padding-bottom: 70px; }
  .advantages { width: 100%; min-height: 1px; }
  .advantages:nth-child(2n) { border-left: 1px solid #dfe1ec; }
  .sec-busines { height: auto; padding-top: 130px; padding-bottom: 130px; }
  .sec-comments { padding: 90px 0; }
  .comments { display: block; }
  .comments__left { width: auto; text-align: center; margin-bottom: 40px; }
  .comments__right { width: auto; padding-left: 80px; padding-right: 80px; }
  .vestibulum__left { padding-right: 120px; }
  .sec-started { padding-top: 110px; padding-bottom: 130px; }
  .col-3 { max-width: 45%; }
  .pricing-nav { width: 215px; padding-right: 30px; }
  .pricing-nav-menu li { margin-bottom: 20px; }
  .pricing-nav-menu a { font-size: 14px; }
  table th, table td { font-size: 12px; }
  .footer-wrap__item { margin-left: 45px; }
  .footer { padding-bottom: 36px; }
  .up { width: 45px; height: 45px; }
  .up .icon { width: 20px; height: 20px; } }

@media screen and (max-width: 1080px) { .menu { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin-left: 40px; margin-right: 40px; } }

@media screen and (min-width: 980px) { .navbar { display: none; } }

@media screen and (max-width: 979px) { body { line-height: 1.4; }
  body.menu-open { overflow: hidden; }
  body.menu-open .header.fixed, body.menu-open .header { border-top-color: #fff; -webkit-box-shadow: none; box-shadow: none; background: #fff; }
  body.menu-open .header.fixed .logo-white, body.menu-open .header .logo-white { display: none; }
  body.menu-open .header.fixed .logo-dark, body.menu-open .header .logo-dark { display: block; }
  .wrapper { max-width: 100%; }
  h1 { font-size: 42px; }
  .menu, .login { display: none; }
  .header.fixed .navbar-toggle .icon, .header.dark .navbar-toggle .icon { color: #666; }
  .header-right { margin-left: auto; }
  .logo, .logo-mobile { position: absolute; top: 50%; left: 50%; width: 161px !important; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  .logo-mobile { width: 57px !important; }
  .navbar-toggle { padding: 0; border: none; background-color: transparent; }
  .navbar-toggle .icon { font-size: 24px; color: #fff; }
  .navbar-toggle { width: 18px; height: 21px; display: block; }
  .navbar-toggle .icon { font-size: 18px; }
  .navbar-toggle .icon-clsoe { display: none; }
  .navbar-toggle.open .icon-clsoe { display: block; color: #666; }
  .navbar-toggle.open .icon-menu { display: none; }
  .navbar-overflow { height: 100%; position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; min-height: 400px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .navbar-mobile { position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: none; text-align: center; padding-top: 130px; padding-bottom: 15px; z-index: 5; overflow-y: auto; }
  .navbar-mobile .navbar-menu { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 100%; list-style: none; }
  .navbar-mobile .navbar-menu__item { margin-bottom: 30px; }
  .navbar-mobile .navbar-menu__link { font-size: 18px; color: #312e44; }
  .navbar-mobile .tel { margin: 60px 0 35px; }
  .navbar-mobile .tel__text { color: #312e44; }
  .navbar-mobile .tel__link { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .navbar-mobile-footer { margin-top: auto; }
  .navbar-mobile .login { margin-left: 0; }
  .navbar-mobile .login .btn { height: 48px; width: 45%; }
  .navbar-mobile .login .btn:not(.btn--success) { border: 1px solid #7f85c2; }
  .cooperate { height: 150px; }
  .cooperate .img img { max-height: 30px; }
  .cooperate__title { margin-bottom: 6px; }
  .cooperate__logo { width: 100%; margin-bottom: 6px; margin-top: 6px; }
  .cooperate__link { width: 100%; margin-top: 6px; }
  .sec-home br { display: block; }
  br { display: none; }
  .comments__right { padding-left: 0; padding-right: 0; }
  .vestibulum__left { padding-right: 60px; }
  .col-3 { max-width: 60%; }
  .pricing-nav { display: none; }
  .pricing { display: block; margin-left: -30px; margin-right: -30px; }
  .pricing-content { width: 100%; }
  .pricing-accordion { border-bottom: 1px solid #dfe1ec; }
  .pricing-accordion__head { padding-left: 30px; padding-right: 55px; padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #dfe1ec; position: relative; }
  .pricing-accordion__head .lg { display: none; }
  .pricing-accordion__head .icon { display: block; position: absolute; top: 50%; right: 30px; font-size: 12px; margin-top: -6px; -webkit-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; }
  .pricing-accordion__head.open .icon { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }
  .pricing-accordion__body { padding-left: 30px; padding-right: 30px; padding-top: 30px; display: none; margin-bottom: 30px; }
  .pricing-accordion__body.show { display: block; }
  .pricing-content h3 { font-size: 25px; margin: 0; font-weight: bold; }
  .pricing-content h3 span, .pricing-content h3 small { display: none; }
  .pricing-accordion__head .icon { font-size: 10px; margin-top: -5px; }
  .pricing-accordion__body { padding-top: 20px; }
  .pricing-content h4 { font-size: 16px; }
  .table { overflow-y: auto; }
  .sec-started { padding-top: 60px; padding-bottom: 70px; }
  .sec-started--bg-color { background-color: #666ba0; background-image: none; }
  .sec-started--bg-color .col-3 { max-width: none !important; width: auto; text-align: center; }
  .sec-boxed { background-color: transparent; background-image: none; padding: 0; }
  .sec-boxed .wrapper { padding: 0; }
  .boxed-wrap { display: block; margin-left: 0; margin-right: 0; }
  .boxed-wrap__item { padding: 60px 30px; width: auto; background: #666ba0; }
  .boxed-wrap__item:nth-child(2n) { background: #4a4e7e; }
  .footer-wrap { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .footer-wrap__left { width: 100%; text-align: center; }
  .footer-logo img { margin: 0 auto; }
  .footer-wrap__item { margin-left: 0; padding-right: 40px; }
  .navbar-mobile { background: #fff; }
  .navbar-mobile .login { display: block; }
  .navbar-mobile .tel__text { display: block; } }

@media screen and (min-width: 737px) { .logo-mobile { display: none; }
  .visible-iphone { display: none; } }

@media screen and (max-width: 736px) { .visible-iphone { display: block; }
  .header .logo { display: none; }
  .header { padding-top: 30px; padding-bottom: 30px; }
  .wrapper, .header { padding-left: 17px; padding-right: 17px; }
  body { font-size: 14px; line-height: 1.57; }
  p { font-size: 14px; line-height: 1.57; }
  .tel__icon { width: 36px; height: 36px; }
  .sec-home { padding-top: 95px; padding-bottom: 95px; min-height: 500px; background-position: center; text-align: center; }
  .sec-home br { display: none; }
  .sec-home img { width: 90px; margin: 0 auto 10px; }
  .sec-home p { font-size: 14px; }
  .sec-home .btn { display: none; }
  h1 { font-size: 24px; margin-bottom: 20px; }
  h2 { font-size: 28px; }
  .btn--lg { height: 46px; min-width: 192px; }
  .cooperate { display: block; padding: 20px 24px; text-align: center; }
  .cooperate__title { font-size: 16px; margin-bottom: 20px; }
  .cooperate__link a { font-size: 14px; }
  .cooperate__logo { padding-left: 0; padding-right: 0; margin-bottom: 10px; }
  .cooperate__logo .img { width: 22%; }
  .cooperate__logo .img img { max-height: none; }
  .sec-advantages { padding-top: 45px; padding-bottom: 60px; }
  .sec-advantages .lg { font-size: 14px; }
  h3 { font-size: 20px; }
  .c-title { margin-top: 70px; margin-bottom: 30px; }
  .box-form-app { border: none; max-width: none; margin-left: -20px; margin-right: -20px; padding-top: 0; padding-left: 30px; padding-right: 30px; padding-bottom: 0; }
  .box-form-app .form-input { text-align: left; }
  .c-box { background: none; padding-bottom: 60px; }
  .form-field.flex { display: block; }
  .form-field.flex .styler { width: 100%; margin-top: 10px; }
  .box-advantages { margin-top: 30px; }
  .advantages__content { padding: 15px 20px; padding-bottom: 0; }
  .advantages__title { font-size: 16px; }
  .advantages--bg2, .advantages--bg { background-color: transparent; color: #666; }
  .advantages--bg2 .advantages__link, .advantages--bg .advantages__link { color: #4a90e2; }
  .advantages--img { display: block; }
  .advantages--img .advantages__img { display: none; }
  .advantages--img .advantages__content { width: auto; }
  .advantages__body { display: none; padding-bottom: 20px; margin-top: -5px; }
  .advantages__body.show { display: block; }
  .advantages__title { margin-left: -20px; margin-right: -20px; margin-top: -15px; margin-bottom: 0; position: relative; padding: 20px 20px; }
  .advantages__title.open .icon { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }
  .advantages__title .icon { display: block; position: absolute; top: 50%; font-size: 10px; margin-top: -5px; right: 18px; color: #666; }
  .howitworks-list { margin-top: 60px; }
  .howitworks-list__item { padding-left: 0; }
  .howitworks-list__item:before { position: static; font-size: 45px; }
  .howitworks-list__body { padding-bottom: 20px; }
  .howitworks-list__body:after, .howitworks-list__body:before { display: none; }
  .howitworks-list__body h3 { font-size: 23px; }
  .howitworks-list__body p { font-size: 16px; margin-bottom: 10px; }
  .sec-busines { padding-top: 40px; display: block; text-align: center; padding-bottom: 80px; height: 590px; background: url("../img/teamplay-image2.jpg?ver1.0") no-repeat center; background-size: cover; }
  .sec-busines h3 { font-size: 18px; }
  .sec-busines h2 { font-size: 23px; }
  .sec-busines .group-button { margin-top: 20px; }
  .group-button .btn, .group-button a.btn { min-width: 130px; }
  .sec-comments { padding: 60px 0; }
  .comments__left .btn { display: none; }
  .comments__right { text-align: center; }
  .comments__right .btn { display: -webkit-inline-box !important; display: -webkit-inline-flex !important; display: -ms-inline-flexbox !important; display: inline-flex !important; margin-top: 42px; }
  .comments-slider { text-align: left; }
  .sec-vestibulum { padding-top: 120px; padding-bottom: 50px; text-align: center; }
  .vestibulum { display: block; }
  .vestibulum__left { padding-right: 0; width: auto; margin-bottom: 40px; }
  .vestibulum__right { width: auto; }
  .vestibulum-form { margin: 0 auto; }
  .fill { top: 40px; left: 50%; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); }
  .fill img { width: 74px; }
  .form-input { text-align: center; }
  .form-input:-ms-input-placeholder { text-align: center; }
  .form-input:-moz-placeholder { text-align: center; }
  .form-input::-moz-placeholder { text-align: center; }
  .form-input::-webkit-input-placeholder { text-align: center; }
  .form-input::-ms-input-placeholder { text-align: center; }
  .form-input::placeholder { text-align: center; }
  .sec-started { text-align: center; background-image: none; }
  .sec-started .col-3 { max-width: none; }
  .pricing-content h3 { font-size: 18px; }
  table { border: 1px solid #aeb0b9; }
  table th, table td { padding: 5px 10px; }
  table td:first-child, table td:last-child { border-left: none; border-right: none; }
  .footer { padding: 40px 0; }
  .footer-wrap { display: block; }
  .footer-wrap__left { padding-bottom: 30px; }
  .footer-wrap__left p { font-size: 12px; }
  .footer-wrap__left .copyright { font-size: 14px; margin-top: 16px; }
  .footer-logo { margin-bottom: 27px; }
  .footer-wrap__item { width: 80%; max-width: 350px; padding-top: 0; padding-right: 0; padding-bottom: 0; margin: 0 auto; border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .up { position: static; margin: 33px auto 0; }
  .accordion__head { padding-top: 17px; padding-bottom: 17px; margin-bottom: 0; position: relative; }
  .accordion__head.open .icon { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }
  .accordion__head .icon { position: absolute; top: 50%; margin-top: -4px; right: 0; color: #fff; font-size: 9px; display: block; }
  .accordion__body { display: none; padding-bottom: 9px; }
  .accordion__body.show { display: block; }
  .advantages-img { width: 119px; }
  .testimonials { padding-top: 150px; padding-bottom: 150px; }
  .c-header { padding-bottom: 60px; }
  .c-header-top { margin-top: -150px; padding: 30px 30px; }
  .c-header-body { display: block; }
  .c-header-body__item { width: auto; }
  .c-item { padding: 30px; }
  .c-item p { line-height: 1.43; }
  .c-item p .read-more { margin-top: 5px; display: inline-block; } }

@media screen and (max-width: 480px) { .sec-home { background: url("../img/home-bg-mobile.jpg") no-repeat center bottom; background-size: cover; }
  .sec-home.sec-home2 { background-image: url("../img/ebay-splash-image.jpg"); }
  .howitworks-list { margin-top: 60px; }
  .howitworks-list__item { padding-left: 0; }
  .howitworks-list__item:before { position: static; font-size: 30px; }
  .howitworks-list__body { padding-bottom: 20px; }
  .howitworks-list__body:after, .howitworks-list__body:before { display: none; }
  .howitworks-list__body h3 { font-size: 20px; }
  .howitworks-list__body p { font-size: 14px; margin-bottom: 10px; }
  .c-header-top { margin-top: -240px; } }

/*# sourceMappingURL=style.css.map */