/* ---------------------------------------------------------------------
+ PAGE INDEX 
---------------------------------------------------------------------- */
#index .container {
	margin: 0;
	padding: 0;
}
#index .col-xs-7 {
	float: left;
	width: 60%;
	padding: 0;
	margin: 0;
}

#index .col-xs-5 {
	float: right;
	width: 35%;
	padding: 0;
	margin: 0;
}

#index .wrap-checkbox.plane {
	margin-right: 5% !important;	
}
#index .wrap-checkbox.plane .plane-ie {
	position: absolute;
	top: -165px;
	left: 50%;
	margin-left: -63.5px;
	width: 127px;
	height: 165px;
	background: url(../img/plane.png) no-repeat;
}
#index .wrap-checkbox.border-color {margin-right: 0!important;}
#index .wrap-checkbox.plane,
#index .wrap-checkbox.border-color {
	width: 35%;
	display: inline-block !important;
	*display: inline !important;
	zoom: 1 !important;
}
#index .wrap-checkbox input {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

/* ---------------------------------------------------------------------
+ PAGE HISTORY 
---------------------------------------------------------------------- */
#airfile .header .container {
	margin: 0;
	width: auto;
}
#airfile .tab-item .col-xs-6, 
#account .col-xs-6 {width: 46%;}
#airfile .tabs-cont .tab-item .list-file ul .bottom .btn-icon,
#airfile .tabs-cont .tab-item .list-file ul .bottom .btn-icon i {
	display: inline-block !important;
	*display: inline !important;
	zoom: 1 !important;
}
#airfile .tabs-cont .tab-item .list-file ul .bottom .btn-icon i {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	cursor: pointer;
}
#airfile .tabs-cont .tab-item .list-file ul .bottom .btn-icon.btn-plane i {
	background: url(../img/icons-small-spritte.png) -58px -8px;
}
#airfile .tabs-cont .tab-item .list-file ul .bottom .btn-icon.btn-delete i {
	background: url(../img/icons-small-spritte.png) -172px -8px;
}
#airfile .tabs-cont .tab-item .list-file ul .bottom .btn-icon.btn-phone i {
	background: url(../img/icons-small-spritte.png) -201px -8px;
}
#airfile .tabs-cont .tab-item .list-file ul .bottom .btn-icon.btn-download i {
	background: url(../img/icons-small-spritte.png) -255px -8px;
}
#airfile .tabs-cont .tab-item .list-file ul li .left>span {
	width: 0;
}

#airfile .tabs-cont .box form .input-enter .wrap input,
#airfile .tabs-cont .box form .input-enter .wrap .view-select,
#account .box form .input-enter .wrap input,
#account .box form .input-enter .wrap textarea {
	width: 83%;
}
#airfile .tabs-cont .box form .input-enter .wrap .view-select {
	margin-top: 0 !important;
}
.box form .input-enter .wrap > span {
	border-top: 1px solid #c6c6c6;
	border-bottom: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
}
#airfile .tabs-cont .box form .input-enter button {
	background: #502e8b;
}
#airfile .tabs-cont .box form .input-enter button:hover {
	background: #6B37AC;
}
#airfile .tabs-cont .box .agent p,
#airfile .tabs-cont .box form .wrap-check input {
	display: inline-block !important;
	*display: inline !important;
	zoom: 1 !important;
}
.box {background: #efeeec;}
#airfile .tabs-cont .box .social a.ico-social {
	background-color: #EFEEEC;
}
#airfile .tabs-cont .box .agent a i {
	    background: #EFEEEC url(../img/bg-headphones.png) no-repeat center top;
}
#airfile .tabs-cont .tab-item .delete .ico-delete a.ico-del.tank {
	    background: #EFEEEC url(../img/ico-delete-sprite.png) no-repeat 0 0;
}
#airfile .tabs-cont .tab-item .delete .ico-delete a.ico-del.clos {
    background: #EFEEEC url(../img/ico-delete-sprite.png) no-repeat -72.5px 0;
}
#airfile .tabs-cont .tab-item .delete .ico-delete a.ico-del.tank:hover {
    background: #EFEEEC url(../img/ico-delete-sprite.png) no-repeat 0 -73px;
}
#airfile .tabs-cont .tab-item .delete .ico-delete a.ico-del.clos:hover {
    background: #EFEEEC url(../img/ico-delete-sprite.png) no-repeat -72.5px -73px;
}
#airfile .tabs-cont .box form .input-enter button {
	border: none;
}

#airfile .header .tabs-control-link i.fa-paper-plane-o {
	width: 20px;
	height: 20px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	background: url(../img/icons-small-spritte.png) no-repeat -5px -8px;
}
#airfile .header .tabs-control-link i.fa-history {
	width: 24px;
	height: 24px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	background: url(../img/icons-small-spritte.png) no-repeat -30px -6px;
}

#airfile .get-link form .input-enter .wrap>div {
    background: #EFEEEC;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    border-top: 1px solid #c6c6c6;
}

#airfile .tab-forms .get-pro {
	background: #000;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

#airfile .tab-forms .transfer-email ul {
	overflow: hidden;
}
#airfile .tab-forms .transfer-email .tab-transfer {
	width: 24.7%;
}
.tabs-cont {margin-top: -23px;}

#menu {overflow: hidden;}